<ion-view view-title="Cedula de Registro">
  <ion-content>
    <div class="content-form ">
        <div class="list background-container">
            <div class="item item-divider item-dark2">Estancia</div> <!-- Numero de estancia-->
            <label class="item item-input item-select item-dark">
            <div class="input-label white">
                    Estancia
                </div>
                <select>
                <option selected>Uno</option>
                <option>Dos</option>
                </select>
            </label>
            <div class="item item-divider item-dark2">Datos del Proyecto</div> <!-- Datos del proyecto-->
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Nombre del Proyecto</span>
                <input type="text" placeholder="Nombre del Proyecto">
            </label>
            <div class="item item-divider item-dark2">Datos de la Empresa</div> <!-- Datos de la empresa-->
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Nombre (s)</span>
                <input type="text" placeholder="Nombre (s)">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Apellido Paterno</span>
                <input type="text" placeholder="Apellido Paterno">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Apellido Materno</span>
                <input type="text" placeholder="Apellido Materno">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Giro</span>
                <input type="text" placeholder="Giro">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Tipo</span>
                <input type="text" placeholder="Tipo">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Dirección</span>
                <input type="text" placeholder="Dirección">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Responsable de Recursos Humanos</span>
                <input type="text" placeholder="Responsable de Recursos Humanos">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Teléfono</span>
                <input type="text" placeholder="Teléfono">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Extensión</span>
                <input type="text" placeholder="Extensión">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">example@domain.etc</span>
                <input type="text" placeholder="example@domain.etc">
            </label>
            <div class="item item-divider item-dark2">Datos del Asesor Empresarial</div> <!-- Datos de asesor epresarial-->
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Nombre (s)</span>
                <input type="text" placeholder="Nombre (s)">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Apellido Paterno</span>
                <input type="text" placeholder="Apellido Paterno">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Apellido Materno</span>
                <input type="text" placeholder="Apellido Materno">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Puesto</span>
                <input type="text" placeholder="Puesto">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Teléfono</span>
                <input type="text" placeholder="Teléfono">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">Extensión</span>
                <input type="text" placeholder="Extensión">
            </label>
            <label class="item item-input item-floating-label item-dark">
                <span class="input-label white">example@domain.etc</span>
                <input type="text" placeholder="example@domain.etc">
            </label>
            <div class="item item-divider item-dark2"> Asesor Académico </div> <!-- Numero de estancia-->
            <label class="item item-input item-select item-dark">
            <div class="input-label white">
                    Asesor
                </div>
                <select class="item-dark">
                <option selected>Carlos Alberto Ramirez Velazquez</option>
                <option>Manuel Alejandro Flores Barrera</option>
                </select>
            </label>
            <button class="button button-block icon icon-right ion-edit button-dark">
            Guardar
            </button>
        </div>
    </div>
  </ion-content>
</ion-view>
